# --- Dependencies ---
node_modules/
.pnpm-store/

# --- Build & Production ---
dist/
dist-ssr/
build/
out/
.next/

# --- Cache & Tools ---
.eslintcache
.stylelintcache
.parcel-cache
.turbo/
.vite/
*.tsbuildinfo
coverage/

# --- Frontend Env ---
.env.local
.env.development.local
.env.production.local
.env.test.local

# --- Testing ---
/test-results/
/playwright-report/
/blob-report/