/node_modules
/dist
/dist-ssr
/build
/vendor
/.fleet
/.idea
/.nova
/.vscode
/.zed
/.vite
/.eslintcache
/.stylelintcache
/.parcel-cache
/.turbo
/.cache
/coverage
/.env
/.env.*
/.DS_Store
/Thumbs.db
*.log
